.sw-page.is--framed{
  .sw-page__top-bar-actions {
    display: none;
  }
  .sw-page__back-btn-container {
    display: none!important;
  }
  .sw-card-view__content > .sw-tabs {
    display: none;
  }
  .smart-bar__header {
    display: none;
  }
  .sw-page__search-bar {
    display:none;
  }
  .sw-page__content.has--side-content {
    display: block;
  }
  .sw-page__side-content {
    display: none;
  }
  &.sw-property-detail {
    grid-template-rows: 1fr;
    .sw-page__head-area {
      display: none;
    }
    .sw-card:not(.sw-property-option-list){
        display: none;
    }
    .sw-property-option-list__add-button, .sw-property-option-list__delete-button {
        display: none;
    }
  }
}