{% block sw_order_line_items_grid_grid_columns_quantity_inline_edit %}
<mt-number-field
    v-if="isInlineEdit && !isCreditItem(item.id) && !warexoIsDecimalQuantityItem(item)"
    :model-value="item.quantity"
    name="sw-field--item-quantity"
    number-type="int"
    :min="1"
    size="small"
    placeholder="0"
    number-align-end
    @update:model-value="updateItemQuantity(item, $event)"
/>
{% endblock %}

{% block sw_order_line_items_grid_grid_columns_quantity_content %}
<span v-else>
    {{ warexoGetDisplayQuantity(item) }} x
</span>
{% endblock %}