{% block sw_cms_el_gpsr_info %}
<div
    class="sw-cms-el-gpsr-info"
>
    Acme Company AG
    <br>
    Musterstraße 12, 12345 Musterstadt, Deutschland
    <br>
    info@example.org
</div>
{% endblock %}
