{% sw_extends '@Storefront/storefront/component/line-item/type/product.html.twig' %}

{% block component_line_item_type_product_label %}
    {{ parent() }}

    {% if lineItem.payload.warexoProductOptionSelections %}
        {% for selection in lineItem.payload.warexoProductOptionSelections %}
            <div class="line-item-product-option-selections">
                {{ selection.option }}: {{ selection.value }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}