{% block sw_cms_element_gpsr_info_preview %}
<div class="sw-cms-el-preview-gpsr-info">
    Acme Company AG
    <br>
    Musterstraße 12, 12345 Musterstadt, Deutschland
    <br>
    info@example.org
</div>
{% endblock %}
