{% block sw_cms_block_product_options_preview %}
    <div class="sw-cms-preview-product-options">
        <sw-select-field label="Option 1" />
        <sw-select-field label="Option 2" />
    </div>
{% endblock %}