name: BuildPlugin
on: [push]

jobs:
  build:
    uses: FriendsOfShopware/actions/.github/workflows/github.yml@main
    with:
      extensionName: 'AggroWarexoPlugin'
      shopwareVersion: '6.7.0'
      cliVersion: 'latest'
    secrets:
      ghToken: ${{ secrets.GH_TOKEN }}
