{% block sw_cms_el_product_options %}
<div
    class="sw-cms-el-product-options"
    :style="alignStyle"
>
    <sw-select-field label="Option 1" />
    <sw-select-field label="Option 2" />
</div>
{% endblock %}
